@import "src/styles/base/colors.scss";

.page-title {
  margin: 16px 0;
  .page-title__inner {
    color: $black;
    display: flex;
    .page-title__go-back {
      button {
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        svg {
          margin: 4px 12px 4px 0px;
        }
      }
    }
    .page-title__text {
      .page-title__title {
        font-weight: bold;
        font-size: 22px;
        margin: 0;
      }
      .page-title__description {
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        margin-top: 12px;
        opacity: 0.8;
      }
    }
  }
}
