@import "src/styles/base/colors.scss";

.layout {
  display: flex;
  .layout__sidebar {
    width: 256px;
  }
  .layout__content {
    background: $main_background;
    width: calc(100vw - 256px);
    min-height: 100vh;
  }
}

@media only screen and (max-width: 1024px) {
  .layout {
    display: flex;
    .layout__sidebar {
      width: 180px;
    }
    .layout__content {
      background: $main_background;
      width: calc(100vw - 180px);
      min-height: 100vh;
    }
  }
}

@media only screen and (max-width: 600px) {
  .layout {
    display: block;
    .layout__sidebar {
      display: none;
    }
    .layout__content {
      background: $main_background;
      width: 100vw;
      min-height: 100vh;
    }
  }
}
