@import "src/styles/base/colors.scss";

.layout {
  display: flex;
  .layout__sidebar {
    width: 256px;
  }
  .layout__content {
    background: $main_background;
    width: calc(100vw - 256px);
    min-height: 100vh;
  }
}
