@import "src/styles/base/colors.scss";

.sidebar {
  border-right: 2px solid $main_border;
  background: $sidebar_bg;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 4px 1px 16px rgba(0, 0, 0, 0.05);

  .sidebar__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 256px;

    .sidebar__item {
      padding: 12px 0;

      &.sidebar__header {
        display: flex;
        align-items: center;
        .sidebar__logo {
          margin: 12px 16px 12px 24px;
        }
        .sidebar__user-info {
          display: flex;
          flex-direction: column;
          .sidebar__user-info__full-name {
            p {
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;

              /* black */

              color: #192a3e;
            }
          }
          .sidebar__user-info__email {
            p {
              font-weight: 600;
              font-size: 8px;
              line-height: 11px;
              letter-spacing: 0.01em;
              color: #90a0b7;
            }
          }
        }
      }
      &.nav__list {
      }
      &.sidebar__exit {
        position: absolute;
        bottom: 8%;
        right: 0;
        left: 0;
        button {
          background: none;
          border: none;
          margin: 0 auto;
          padding: 0;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            color: $text_gray;
            font-size: 14px;
            line-height: 24px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    border-right: 2px solid $main_border;
    background: $sidebar_bg;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 4px 1px 16px rgba(0, 0, 0, 0.05);
    .sidebar__inner {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 180px;

      .sidebar__item {
        padding: 12px 0;

        &.sidebar__header {
          display: flex;
          align-items: center;
          zoom: 0.8;

          .sidebar__logo {
            margin: 12px 16px 12px 24px;
          }
          .sidebar__user-info {
            display: flex;
            flex-direction: column;
            .sidebar__user-info__full-name {
              p {
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;

                /* black */

                color: #192a3e;
              }
            }
            .sidebar__user-info__email {
              p {
                font-weight: 600;
                font-size: 8px;
                line-height: 11px;
                letter-spacing: 0.01em;
                color: #90a0b7;
              }
            }
          }
        }
        &.nav__list {
        }
        &.sidebar__exit {
          position: absolute;
          bottom: 8%;
          right: 0;
          left: 0;
          button {
            background: none;
            border: none;
            margin: 0 auto;
            padding: 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              color: $text_gray;
              font-size: 14px;
              line-height: 24px;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .sidebar {
    border-right: 2px solid $main_border;
    background: $sidebar_bg;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 4px 1px 16px rgba(0, 0, 0, 0.05);
    z-index: 3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: webkit-transform 220ms ease-in-out;
    transition: transform 220ms ease-in-out;
    .sidebar__inner {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 180px;

      .sidebar__item {
        padding: 12px 0;

        &.sidebar__header {
          display: flex;
          align-items: center;
          zoom: 0.8;

          .sidebar__logo {
            margin: 12px 16px 12px 24px;
          }
          .sidebar__user-info {
            display: flex;
            flex-direction: column;
            .sidebar__user-info__full-name {
              p {
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;

                /* black */

                color: #192a3e;
              }
            }
            .sidebar__user-info__email {
              p {
                font-weight: 600;
                font-size: 8px;
                line-height: 11px;
                letter-spacing: 0.01em;
                color: #90a0b7;
              }
            }
          }
        }
        &.nav__list {
        }
        &.sidebar__exit {
          position: absolute;
          bottom: 8%;
          right: 0;
          left: 0;
          button {
            background: none;
            border: none;
            margin: 0 auto;
            padding: 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              color: $text_gray;
              font-size: 14px;
              line-height: 24px;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}
