@import "src/styles/base/fonts.scss";
@import "src/styles/base/colors.scss";

html,
body {
  font-family: $font_family;
}
body {
  color: $text_gray;
  margin: 0;
  padding: 0;
}
button:focus,
input,
select {
  outline: 0 !important;
}

button,
a,
select {
  cursor: pointer;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  &:focus {
    outline: none;
  }
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8e8e93;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8e8e93;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8e8e93;
}

.Toastify__toast {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  min-height: 36px;
  .Toastify__toast-body {
    margin: 8px 28px;
    font-size: 13px;
    line-height: 18px;
    color: $white;
  }
}
.Toastify__toast--error {
  background: #f03738;
}
.Toastify__toast--success {
  background: #60d94a;
}

.Toastify__progress-bar {
  border-radius: 0px 0px 4px 4px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .login-left {
    height: 600px;
    width: 555px;
    display: flex;
    justify-content: center;
    align-items: center;

    .login_form_block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 500px;
      .login-redirect {
        display: none;
        a {
          font-weight: bold;
          color: #157ce3;
        }
      }
      .login_form_title {
        margin: 12px 0 24px 0;
        p {
          // margin: 0;
          // font-weight: 500;
          // font-size: 41px;
          // line-height: 50px;
          // display: flex;
          // align-items: center;
          // letter-spacing: 0.03em;
          // color: $black;

          font-weight: bold;
          font-size: 42px;
          line-height: 48px;
          text-align: center;

          color: #157ce3;
          text-transform: uppercase;
        }
      }
      .login_form_message {
        p {
          font-size: 16px;
          line-height: 24px;
          padding: 12px 32px;
          background: rgba($color: $pink, $alpha: 0.2);
          border-radius: 6px;
          margin: 0;
        }
        text-align: center;
        margin: 12px 0;
        width: 400px;
      }
      .login_form {
        text-align: center;
        width: 100%;
        * {
          margin: 12px 0;
        }
        .form-control {
          position: relative;
          .error {
            color: $pink;
            text-align: center;
            font-size: 12px;
          }
          .form-control__input {
            .form-control__input-item {
              .form-control__input-password {
                position: absolute;
                right: 8px;
                top: -12px;
                button {
                  border: none;
                  background: none;
                  span {
                    margin: 0;
                    padding: 0;
                  }
                }
              }
              .form-control__input-icon {
                position: absolute;
                top: 28px;
                left: 28px;
              }
              input {
                // background: $white;
                // margin: 8px 0;
                // padding: 24px 65px;
                // border: none;

                // font-size: 16px;
                // line-height: 19px;
                // color: $black;

                // border: 1px solid #b3b3b3;
                // box-sizing: border-box;
                // border-radius: 6px;
                // width: 405px;
                // height: 66px;

                padding: 12px;

                width: 100%;
                background: #f1f3f5;
                border-radius: 8px;
                border: none;

                font-size: 12px;
                line-height: 24px;
                /* identical to box height, or 200% */

                color: #000;
              }
              .input_container {
                svg {
                  display: none;
                }
              }
            }
          }
        }
        button[type="submit"] {
          // background: $dark_blue;
          // border-radius: 6px;
          // color: $white;
          // border: none;
          // font-weight: 600;
          // font-size: 22px;
          // line-height: 27px;
          // padding: 18px 162px;
          // margin: 24px 0 12px 0;
          // width: 405px;
          // cursor: pointer;
          // transition: 0.4s ease;
          // &:hover {
          //   background: #b587e4;
          // }
          // &:disabled {
          //   background: #d8d8d8;
          // }
          // &:active {
          //   background: #7743ae;
          // }

          width: 100%;
          height: 48px;

          background: #157ce3;
          border-radius: 8px;
          border: none;

          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */

          text-align: center;

          color: #ffffff;
        }
      }
    }
  }
  .login-right {
    padding: 24px 20px;
    height: 600px;
    width: 445px;
    background: #157ce3;
    display: flex;
    flex-direction: column;
    position: relative;
    .logo {
      display: flex;
      align-items: center;
      .logo-img {
        width: 24px;
        height: 24px;
      }
      .logo-text {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        display: flex;
        align-items: center;
        margin-left: 12px;
        color: #ffffff;
      }
    }
    .login-text {
      margin: auto;
      .login-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        display: flex;
        align-items: center;

        color: #ffffff;
      }
      .login-description {
        margin: 24px 0;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;

        color: #ffffff;
      }
      .login-redirect {
        font-size: 16px;
        line-height: 22px;
        margin: 24px 0;
        color: #ffffff;
        a {
          font-weight: bold;
          color: #fff;
        }
      }
    }
    .login-img {
      position: absolute;
      bottom: -80px;
      right: -80px;
    }
  }
}

.categories {
  width: 100%;
  .categories-item.categories-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 24px 0;
    input,
    button {
      margin: 6px auto;
      width: 489px;
      height: 48px;
    }
    input {
      font-size: 12px;
      line-height: 24px;
    }
    .categories-inputs-radio {
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-direction: column;
      width: 489px;
      margin: 24px 0;

      div {
        margin: 6px auto;

        // display: flex;
        // align-items: center;

        input {
          width: initial;
          height: initial;
        }
        label {
          margin-left: 10px;
          color: #000;
        }
      }
    }
  }
  .categories-item {
    .category {
      padding: 4px;
      &:hover {
        border: none;
        padding: 4px;
      }
    }
  }
  .categories-list {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    .categories-item {
      padding: 24px;

      .category {
        padding: 4px;
        &:hover {
          border: 2px solid #157ce3;
          border-radius: 16px;
          padding: 2px;
        }
        .category-inner {
          width: 160px;
          height: 140px;
          background: linear-gradient(109.61deg, #50b1f8 1.25%, #0a0d5a 100%);
          border-radius: 16px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          flex-direction: column;
          margin: auto;
          .category-name {
            p {
              color: $white;
              font-weight: bold;
              font-size: 18px;
              line-height: 21px;
            }
          }
          .category-type {
            p {
              color: $white;
              font-weight: lighter;
              font-size: 12px;
              line-height: 21px;
            }
          }
        }
      }
    }
  }
}
.category {
  padding: 4px;
  &:hover {
    border: 2px solid #157ce3;
    border-radius: 16px;
    padding: 2px;
  }
  .category-inner {
    width: 160px;
    height: 140px;
    width: 230px;
    height: 195.5px;
    background: linear-gradient(109.61deg, #50b1f8 1.25%, #0a0d5a 100%);
    border-radius: 16px;
    display: flex;
    // align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    .category-name {
      p {
        color: $white;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
      }
    }
    .category-type {
      p {
        color: $white;
        font-weight: lighter;
        font-size: 12px;
        line-height: 21px;
      }
    }
  }
}

.wallets {
  width: 100%;
  .wallets-list {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    .wallets-item {
      padding: 24px;

      .wallet {
        padding: 4px;
        &:hover {
          border: 2px solid #157ce3;
          border-radius: 16px;
          padding: 2px;
        }
        .wallet-inner {
          width: 258.33px;
          height: 158px;
          background: linear-gradient(109.61deg, #50b1f8 1.25%, #0a0d5a 100%);
          border-radius: 16px;
          display: flex;
          // align-items: center;
          // text-align: center;
          padding: 16px;
          justify-content: center;
          flex-direction: column;
          margin: auto;

          .wallet-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .wallet-label {
              display: flex;
              align-items: center;
              span {
                margin-left: 8px;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;

                color: #ffffff;
              }
            }
            .wallet-logo {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .wallet-body {
            margin: 12px 0;
            .wallet-name {
              .wallet-name__title {
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;

                color: #ffffff;
              }
              .wallet-name__text {
                font-weight: bold;
                font-size: 20px;
                line-height: 27px;

                color: #ffffff;
              }
            }
            .wallet-balance {
              .wallet-balance__title {
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;

                color: #ffffff;
              }
              .wallet-balance__text {
                font-weight: bold;
                font-size: 20px;
                line-height: 27px;

                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .wallets-item {
    &.wallets-inputs {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 24px 0;
      input,
      button {
        margin: 6px auto;
        width: 489px;
        height: 48px;
      }
      input {
        font-size: 12px;
        line-height: 24px;
      }
      .wallet {
        padding: 4px;
        &:hover {
          border: none;
          padding: 4px;
        }
      }
    }
    .wallet {
      padding: 4px;
      &:hover {
        border: none;
        padding: 4px;
      }
    }
  }
}
.wallet {
  padding: 4px;
  &:hover {
    border: 2px solid #157ce3;
    border-radius: 16px;
    padding: 2px;
  }
  .wallet-inner {
    width: 258.33px;
    height: 158px;
    background: linear-gradient(109.61deg, #50b1f8 1.25%, #0a0d5a 100%);
    border-radius: 16px;
    display: flex;
    // align-items: center;
    // text-align: center;
    padding: 16px;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    .wallet-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .wallet-label {
        display: flex;
        align-items: center;
        span {
          margin-left: 8px;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;

          color: #ffffff;
        }
      }
      .wallet-logo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .wallet-body {
      margin: 12px 0;
      .wallet-name {
        .wallet-name__title {
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;

          color: #ffffff;
        }
        .wallet-name__text {
          font-weight: bold;
          font-size: 20px;
          line-height: 27px;

          color: #ffffff;
        }
      }
      .wallet-balance {
        .wallet-balance__title {
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;

          color: #ffffff;
        }
        .wallet-balance__text {
          font-weight: bold;
          font-size: 20px;
          line-height: 27px;

          color: #ffffff;
        }
      }
    }
  }
}

.money_operation {
  width: 750px;
  // height: 100px;
  background: #efeff4;

  padding: 10px 30px;
  margin: 12px auto;
  color: #000;
  &.to-create {
    background: none;
    padding: 0;
    margin: 0;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: fit-content;
  }
  > div {
    display: flex;
    justify-content: space-between;
    width: 700px;
    .money_operation-left {
      p {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;

        color: #8e8e93;
      }
      h3 {
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;

        color: #000000;
      }
    }
    .money_operation-right {
      display: flex;
      align-items: center;
      h3 {
        // font-weight: bold;
        // font-size: 20px;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: right;

        color: #000000;
      }
    }
  }

  a {
    & > div {
      display: flex;
      justify-content: space-between;
      width: 700px;
      .money_operation-left {
        p {
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          display: flex;
          align-items: center;

          color: #8e8e93;
        }
        h3 {
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          display: flex;
          align-items: center;

          color: #000000;
        }
      }
      .money_operation-right {
        display: flex;
        align-items: center;
        h3 {
          // font-weight: bold;
          // font-size: 20px;
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          display: flex;
          align-items: center;
          text-align: right;

          color: #000000;
        }
      }
    }
  }
}

.money_operations {
  .money_operations-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input,
    button {
      margin: 6px auto;
      width: 489px;
      height: 48px;
    }
    input {
      font-size: 12px;
      line-height: 24px;
    }
  }
}
button {
  background: #157ce3;
  border-radius: 8px;
  color: #fff;
  border: none;
  margin: auto;
  padding: 8px;
}
input {
  background: #f1f3f5;
  border-radius: 8px;
  padding: 12px;
  color: #000;
  border: none;
}

.react-tabs {
  .react-tabs__tab-list {
    border: none;
    margin: 24px auto;
    text-align: center;
    width: fit-content;
    background: #f1f3f5;
    border-radius: 24px;

    display: flex;

    .react-tabs__tab {
      border: none;
      padding: 16px 24px;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #000000;
      width: 156px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      display: flex;
      align-items: center;
      span {
        margin-left: 4px;
      }
      svg {
        path {
          color: #000000;
          stroke: #000000;
          transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      }
      &.react-tabs__tab--selected {
        background: #157ce3;
        border-radius: 24px;
        color: #ffffff;
        svg {
          path {
            color: #ffffff;
            stroke: #ffffff;
          }
        }
      }
    }
  }
}

.spinner-container {
  width: auto;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.plus-container {
  width: 60px;
  height: 60px;
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  margin: auto;
}
.floating-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 64px;
  height: 64px;
  background: #157ce3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    div {
      svg {
        transition: transform 0.2s;
      }
    }
  }

  &:hover {
    background: #1164b8;

    a {
      div {
        svg {
          transform: scale(1.5);
        }
      }
    }
  }
}

.home {
  .home-header {
    width: 100%;
    .home-header-inner {
      width: 750px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      background: #efeff4;
      border-radius: 16px;
      padding: 24px 65px;
      .home-header-left {
        h3 {
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: #000000;
        }
      }
      .home-header-right {
        h1 {
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
          color: #000000;
        }
      }
    }
  }
}
.delete-btn {
  background: rgb(218, 38, 38);
}

@media only screen and (max-width: 600px) {
  /* For tablets: */

  .login {
    .login-left {
      height: 600px;
      width: 355px;

      .login_form_block {
        width: 300px;
        .login-redirect {
          display: block;
        }
        .login_form_title {
          margin: 12px 0 24px 0;
          p {
            // margin: 0;
            // font-weight: 500;
            // font-size: 41px;
            // line-height: 50px;
            // display: flex;
            // align-items: center;
            // letter-spacing: 0.03em;
            // color: $black;

            font-weight: bold;
            font-size: 42px;
            line-height: 48px;
            text-align: center;

            color: #157ce3;
            text-transform: uppercase;
          }
        }
        .login_form_message {
          p {
            font-size: 16px;
            line-height: 24px;
            padding: 12px 32px;
            background: rgba($color: $pink, $alpha: 0.2);
            border-radius: 6px;
            margin: 0;
          }
          text-align: center;
          margin: 12px 0;
          width: 200px;
        }
        .login_form {
          text-align: center;
          width: 100%;
          * {
            margin: 12px 0;
          }
          .form-control {
            position: relative;
            .error {
              color: $pink;
              text-align: center;
              font-size: 12px;
            }
            .form-control__input {
              .form-control__input-item {
                .form-control__input-password {
                  position: absolute;
                  right: 8px;
                  top: -12px;
                  button {
                    border: none;
                    background: none;
                    span {
                      margin: 0;
                      padding: 0;
                    }
                  }
                }
                .form-control__input-icon {
                  position: absolute;
                  top: 28px;
                  left: 28px;
                }
                input {
                  // background: $white;
                  // margin: 8px 0;
                  // padding: 24px 65px;
                  // border: none;

                  // font-size: 16px;
                  // line-height: 19px;
                  // color: $black;

                  // border: 1px solid #b3b3b3;
                  // box-sizing: border-box;
                  // border-radius: 6px;
                  // width: 405px;
                  // height: 66px;

                  padding: 12px;

                  width: 100%;
                  background: #f1f3f5;
                  border-radius: 8px;
                  border: none;

                  font-size: 12px;
                  line-height: 24px;
                  /* identical to box height, or 200% */

                  color: #000;
                }
                .input_container {
                  svg {
                    display: none;
                  }
                }
              }
            }
          }
          button[type="submit"] {
            // background: $dark_blue;
            // border-radius: 6px;
            // color: $white;
            // border: none;
            // font-weight: 600;
            // font-size: 22px;
            // line-height: 27px;
            // padding: 18px 162px;
            // margin: 24px 0 12px 0;
            // width: 405px;
            // cursor: pointer;
            // transition: 0.4s ease;
            // &:hover {
            //   background: #b587e4;
            // }
            // &:disabled {
            //   background: #d8d8d8;
            // }
            // &:active {
            //   background: #7743ae;
            // }

            width: 100%;
            height: 48px;

            background: #157ce3;
            border-radius: 8px;
            border: none;

            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */

            text-align: center;

            color: #ffffff;
          }
        }
      }
    }
    .login-right {
      display: none;

      .logo {
        display: flex;
        align-items: center;
        .logo-img {
          width: 24px;
          height: 24px;
        }
        .logo-text {
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          display: flex;
          align-items: center;
          margin-left: 12px;
          color: #ffffff;
        }
      }
      .login-text {
        margin: auto;
        .login-title {
          font-weight: bold;
          font-size: 36px;
          line-height: 49px;
          display: flex;
          align-items: center;

          color: #ffffff;
        }
        .login-description {
          margin: 24px 0;
          font-size: 14px;
          line-height: 19px;
          display: flex;
          align-items: center;

          color: #ffffff;
        }
        .login-redirect {
          font-size: 16px;
          line-height: 22px;
          margin: 24px 0;
          color: #ffffff;
          a {
            font-weight: bold;
            color: #fff;
          }
        }
      }
      .login-img {
        position: absolute;
        bottom: -80px;
        right: -80px;
      }
    }
  }

  .categories {
    .categories-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .categories-item {
        padding: 24px;
        .category {
          width: 160px;
          height: 140px;
          background: linear-gradient(109.61deg, #50b1f8 1.25%, #0a0d5a 100%);
          border-radius: 16px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          flex-direction: column;
          .category-name {
            p {
              color: $white;
              font-weight: bold;
              font-size: 18px;
              line-height: 21px;
            }
          }
          .category-type {
            p {
              color: $white;
              font-weight: lighter;
              font-size: 12px;
              line-height: 21px;
            }
          }
        }
      }
    }
  }
}
