// STATIC
$white: #fff;
$black: #000;

// BRAND COLORS
$dark_blue: #0a0d5a;
$purple: #157ce3;
$pink: #fd749b;
$orange: #ffa92c;
$java: #1cd1a1;

// TEXT
$text_light_gray: #c4c4c4;
$text_gray: #909090;
$text_dark: #2e2e2e;

// BACKGROUND
$main_background: #f7f5f7;

// BORDER
$main_border: #f0f0f0;

$sidebar_bg: #fefefe;

$table_head_color: #858585;
$table_body_color: #1f232e;
